{% extends 'layout.html' %}
{% block content %}
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">{{title}}</h1>
                <!--end::Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        <a href="#" class="text-muted text-hover-primary">Home</a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-500 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">{{title}}</li>
                    <!--end::Item-->
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-fluid">

            <div class="row gy-5 gx-xl-10">
                <!--begin::Col-->
                <div class="col-xxl-12">
                    <!--begin::Row-->
                    <div class="row gx-5 gx-xl-10">
                        <div class="col-sm-4 mb-5 mb-xl-10">
                            <!--begin::Slider Widget 1-->
                            <div id="kt_sliders_widget_1_slider" class="card card-flush carousel carousel-custom carousel-stretch slide h-xl-100" data-bs-ride="carousel" data-bs-interval="5000">
                                <!--begin::Header-->
                                <div class="card-header pt-5">
                                    <!--begin::Title-->
                                    <h4 class="card-title d-flex align-items-start flex-column">
                                        <span class="card-label fw-bold text-gray-800">Onboarded Status</span>
                                    </h4>
                                    <!--end::Title-->
                                    <!--begin::Toolbar-->
                                    <div class="card-toolbar">
                                        <!--begin::Carousel Indicators-->
                                        <ol class="p-0 m-0 carousel-indicators carousel-indicators-bullet carousel-indicators-active-primary">
                                            <li data-bs-target="#kt_sliders_widget_1_slider" data-bs-slide-to="0" class="active ms-1"></li>
                                            <li data-bs-target="#kt_sliders_widget_1_slider" data-bs-slide-to="1" class="ms-1"></li>
                                            <li data-bs-target="#kt_sliders_widget_1_slider" data-bs-slide-to="2" class="ms-1"></li>
                                            <li data-bs-target="#kt_sliders_widget_1_slider" data-bs-slide-to="3" class="ms-1"></li>
                                            <li data-bs-target="#kt_sliders_widget_1_slider" data-bs-slide-to="4" class="ms-1"></li>
                                            <li data-bs-target="#kt_sliders_widget_1_slider" data-bs-slide-to="5" class="ms-1"></li>
                                        </ol>
                                        <!--end::Carousel Indicators-->
                                    </div>
                                    <!--end::Toolbar-->
                                </div>
                                <!--end::Header-->
                                <!--begin::Body-->
                                <div class="card-body py-6">
                                    <!--begin::Carousel-->
                                    <div class="carousel-inner mt-n5">
                                        <!--begin::Item-->
                                        <div class="carousel-item active show">
                                            <!--begin::Wrapper-->
                                            <div class="d-flex align-items-center mb-5">
                                                <!--begin::Info-->
                                                <div class="w-80px flex-shrink-0 me-2">
                                                    <i class="bi bi-people fs-4x text-primary"></i>
                                                </div>
                                                <div class="m-0">
                                                    <!--begin::Subtitle-->
                                                    <h4 class="fw-bold text-gray-800 mb-3">Total Number of Onboarded Staff as of today:</h4>
                                                    <h1>{{count_onboardstaff_today}}</h1>
                                                    <!--end::Subtitle-->
                                                </div>
                                                <!--end::Info-->
                                            </div>
                                            <!--end::Wrapper-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="carousel-item">
                                            <!--begin::Wrapper-->
                                            <div class="d-flex align-items-center mb-5">
                                                <!--begin::Chart-->
                                                <div class="w-80px flex-shrink-0 me-2">
                                                    <i class="bi bi-people fs-4x text-primary"></i>
                                                </div>
                                                <!--end::Chart-->
                                                <div class="m-0">
                                                    <!--begin::Subtitle-->
                                                    <h4 class="fw-bold text-gray-800 mb-3">Total Number of Staff Enrolled under NEOP as of today:</h4>
                                                    <h1>{{count_onboardstaff_neop_today}}</h1>
                                                    <!--end::Subtitle-->
                                                </div>
                                            </div>
                                            <!--end::Wrapper-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="carousel-item">
                                            <!--begin::Wrapper-->
                                            <div class="d-flex align-items-center mb-5">
                                                <div class="w-80px flex-shrink-0 me-2">
                                                    <i class="bi bi-people fs-4x text-primary"></i>
                                                </div>
                                                <!--end::Chart-->
                                                <div class="m-0">
                                                    <!--begin::Subtitle-->
                                                    <h4 class="fw-bold text-gray-800 mb-3">Total Number of Graduated Staff from NEOP as of today:</h4>
                                                    <h1>0</h1>
                                                    <!--end::Subtitle-->
                                                </div>
                                            </div>
                                            <!--end::Wrapper-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="carousel-item">
                                            <!--begin::Wrapper-->
                                            <div class="d-flex align-items-center mb-5">
                                                <div class="w-80px flex-shrink-0 me-2">
                                                    <i class="bi bi-people fs-4x text-primary"></i>
                                                </div>
                                                <!--end::Chart-->
                                                <div class="m-0">
                                                    <!--begin::Subtitle-->
                                                    <h4 class="fw-bold text-gray-800 mb-3">Total Number of Existing Staff Hired as of today:</h4>
                                                    <h1>0</h1>
                                                    <!--end::Subtitle-->
                                                </div>
                                            </div>
                                            <!--end::Wrapper-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="carousel-item">
                                            <!--begin::Wrapper-->
                                            <div class="d-flex align-items-center mb-5">
                                                <div class="w-80px flex-shrink-0 me-2">
                                                    <i class="bi bi-people fs-4x text-primary"></i>
                                                </div>
                                                <!--end::Chart-->
                                                <div class="m-0">
                                                    <!--begin::Subtitle-->
                                                    <h4 class="fw-bold text-gray-800 mb-3">Total Number of Newly Hired COS Staff under monitored under COS guidelines as of today:</h4>
                                                    <h1>{{count_onboardstaff_cosguide_today}}</h1>
                                                    <!--end::Subtitle-->
                                                </div>
                                            </div>
                                            <!--end::Wrapper-->
                                        </div>
                                        <div class="carousel-item">
                                            <!--begin::Wrapper-->
                                            <div class="d-flex align-items-center mb-5">
                                                <div class="w-80px flex-shrink-0 me-2">
                                                    <i class="bi bi-people fs-4x text-primary"></i>
                                                </div>
                                                <!--end::Chart-->
                                                <div class="m-0">
                                                    <!--begin::Subtitle-->
                                                    <h4 class="fw-bold text-gray-800 mb-3">Total Number of Newly Hired COS Staff under monitored under Internal Staff as of today:</h4>
                                                    <h1>{{count_onboardstaff_internal_today}}</h1>
                                                    <!--end::Subtitle-->
                                                </div>
                                            </div>
                                            <!--end::Wrapper-->
                                        </div>
                                        <!--end::Item-->
                                    </div>
                                    <!--end::Carousel-->
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Slider Widget 1-->
                        </div>
                        <div class="col-sm-4 mb-5 mb-xl-10">
                            <div class="card card-flush h-lg-100">
                                <div class="card-header pt-5">
                                    <!--begin::Title-->
                                    <h3 class="card-title align-items-start flex-column">            
                                        <span class="card-label fw-bold text-gray-900">Newly Hired</span>
                                        <span class="text-gray-500 mt-1 fw-semibold fs-6">Based on Nature</span>
                                    </h3>
                                    <!--end::Title-->
                                </div>
                                <div class="card-body pt-5">
                                    {% for status in count_hired_nature %}
                                    <!--begin::Item-->
                                    <div class="d-flex flex-stack">
                                        <!--begin::Section-->
                                        <div class="text-gray-700 fw-semibold fs-6 me-2">{{ status.grouped_nature }}</div>
                                        <!--end::Section-->  
                                
                                        <!--begin::Statistics--> 
                                        <div class="d-flex align-items-center">
                                            <!--begin::Number-->           
                                            <span class="text-gray-900 fw-bolder fs-6">{{ status.count }}</span>
                                        </div>  
                                        <!--end::Statistics-->           
                                    </div>
                                    <!--end::Item-->
                                
                                    <!--begin::Separator-->
                                    {% if not forloop.last %}
                                    <div class="separator separator-dashed my-3"></div>
                                    {% endif %}
                                    <!--end::Separator-->
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-5 mb-xl-10">
                            <div class="card card-flush h-lg-100">
                                <div class="card-header pt-5">
                                    <!--begin::Title-->
                                    <h3 class="card-title align-items-start flex-column">            
                                        <span class="card-label fw-bold text-gray-900">Monitored Staff per Onboarding Coordinator:</span>
                                    </h3>
                                    <!--end::Title-->
                                </div>
                                <div class="card-body pt-5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}