{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="{% static 'assets/plugins/custom/prismjs/prismjs.bundle.css' %}" />
<link rel="stylesheet" href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" />
<link rel="stylesheet" href="{% static 'assets/plugins/global/plugins.bundle.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/style.bundle.css' %}" />


<table id="hired-table" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
    <thead>
        <th class="text-center">Action</th>
        <th class="text-center">Check</th>
        <th class="text-center display-none">APP ID</th>
        <th class="text-center display-none">EMPSTATUS ID</th>
        <th class="text-center">FullName</th>
        <th class="text-center">Position</th>
        <th class="text-center">Former Incumbent</th>
        <th class="text-center">Basic <br> Monthly Sary</th>
        <th class="text-center">Effectivity of Contract</th>
        <th class="text-center">End of Contract</th>
        <th class="text-center">Status of Employment</th>
        <th class="text-center">Nature</th>
        <th class="text-center">Area of Assignment</th>
        <th class="text-center">Is Requirements Ok</th>
        <th class="text-center">Remarks</th>
    </thead>
    <tbody>
        <!-- Data will be inserted here dynamically -->
    </tbody>
</table>





{% endblock content %}

{% block script %}




<script type="text/javascript">

    $(document).ready(function () {
        //Initialize DataTable
        var table = $("#hired-table").DataTable({
            "language": {
                "lengthMenu": "Show _MENU_ entries",
                "search": "Search:",
                "paginate": {
                    "previous": "Previous",
                    "next": "Next"
                }
            },
            "dom": "<'row mb-2'" +
                "<'col-sm-6 d-flex align-items-center justify-content-start dt-toolbar'l>" +
                "<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
                ">" +
                "<'table-responsive'tr>" +
                "<'row'" +
                "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
                "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
                ">",
            "processing": true, 
            "serverSide": true, 
            "ajax": {
                url: "{% url 'rsp:list-newly-hired-staff' %}",
                type: 'GET',
                dataSrc: function (json) {
                    return json.results.map(function (item) {
                        return {
                            "action": "PRINT ", 
                            "check": "<input type='checkbox' />",
                            "app_id": item.app_id,
                            "emp_status_id": item.emp_status_id,
                            "full_name": item.full_name,
                            "position": item.position,
                            "former_incumbent": item.former_incumbent || "N/A",
                            "salary": item.salary,
                            "effectivity_of_contract": item.effectivity_of_contract,
                            "end_of_contract": item.end_of_contract,
                            "status_of_employment": item.emp_status,
                            "nature": item.nature,
                            "area_of_assignment": item.area_of_assignment,
                            "requirements_ok": item.requirements_ok,
                            "remarks": item.remarks
                        };
                    });
                }
            },
            "columns": [
                { "data": "action", "className": "text-center" },
                { "data": "check", "className": "text-center" },
                { "data": "app_id", "className": "text-center display-none" },
                { "data": "emp_status_id", "className": "text-center display-none" },
                { "data": "full_name", "className": "text-center" },
                { "data": "position", "className": "text-center" },
                { "data": "former_incumbent", "className": "text-center" },
                { "data": "salary", "className": "text-center" },
                { "data": "effectivity_of_contract", "className": "text-center" },
                { "data": "end_of_contract", "className": "text-center" },
                { "data": "status_of_employment", "className": "text-center" },
                { "data": "nature", "className": "text-center" },
                { "data": "area_of_assignment", "className": "text-center" },
                { "data": "requirements_ok", "className": "text-center" },
                { "data": "remarks", "className": "text-center" }
            ]
        });

        // let dataTable = $("#hired-table").DataTable({
        //     "language": {
        //         "lengthMenu": "Show _MENU_ entries",
        //         "search": "Search:",
        //         "paginate": {
        //             "previous": "Previous",
        //             "next": "Next"
        //         }
        //     },
        //     "dom": "<'row mb-2'" +
        //         "<'col-sm-6 d-flex align-items-center justify-content-start dt-toolbar'l>" +
        //         "<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
        //         ">" +
        //         "<'table-responsive'tr>" +
        //         "<'row'" +
        //         "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
        //         "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
        //         ">",
        //     processing: true,
        //     serverSide: true,
        //     ajax: {
        //         url: "{% url 'rsp:list-newly-hired-staff' %}",
        //         type: 'GET',
        //     },
        //     columns: [
        //         { data: 'id_no' },
        //         { data: 'name' },
        //         { data: 'original_amount'},
        //         { data: 'final_amount'},
        //         { data: 'date_travel'},
        //         { data: 'id_no' },
        //         { data: 'name' },
        //         { data: 'original_amount'},
        //         { data: 'final_amount'},
        //         { data: 'date_travel'},
        //         { data: 'id_no' },
        //         { data: 'name' },
        //         { data: 'original_amount'},
        //         { data: 'final_amount'},
        //         { data: 'date_travel'},
        //     ],
        //     columnDefs: [
        //         {
        //             targets: 1,
        //             render: function(data) {
        //                 if (data){
        //                     return '<span class="badge bg-label-primary">' + data + '</span>';
        //                 }
        //                 else {
        //                     return ''
        //                 }
        //             },
        //         },
        //         {
        //           targets: -1,
        //           title: 'Action',
        //           orderable: false,
        //           searchable: false,
        //           render: function (data) {
        //             return (
        //                 '<a href="javascript:;" data-id="' + data + '" class="item-edit text-body"><i class="text-primary ti ti-pencil"></i></a>' +
        //                 '<a href="javascript:;" data-id="' + data + '" class="item-delete text-body"><i class="text-primary ti ti-trash"></i></a>'
        //             )
        //           },
        //       },
        //     ],
        //     dom: '<"card-header flex-column flex-md-row"<"head-label text-center"><"dt-action-buttons text-end pt-3 pt-md-0"B>><"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end"f>>t<"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
        //     buttons: [
        //         {
        //             className: 'btn btn-label-primary me-2',
        //             text: '<i class="ti ti-file-search me-sm-1"></i> <span class="d-none d-sm-inline-block">Advance Filter</span>',
        //             action: function () {
        //                 employeeList = [];
        //                 const $selectElement = $('#f-employee-name');
        //                 $selectElement.empty();
        //                 fetchEmployee($selectElement);
        //                 FEmployeeName.val('').trigger('change');
        //                 setTimeout(function() {
        //                     if (FEmployeeName.length) {
        //                         FEmployeeName.wrap('<div class="position-relative"></div>')
        //                         FEmployeeName.select2({
        //                             placeholder: 'Choose employee',
        //                             dropdownParent: FEmployeeName.parent(),
        //                             allowClear: true,
        //                         })
        //                     }
        //                 }, 300);
        //                 clear_advfilter();
        //                 $("#advance-filter").modal("show");
        //             }
    
        //         },
        //         {
        //             className: 'btn btn-primary',
        //             text: '<i class="ti ti-file-export me-sm-1"></i> <span class="d-none d-sm-inline-block">Add New Record</span>',
        //             action: function () {
        //                 employeeList = [];
                        
        //                 if (IotDeparture) {
        //                     IotDeparture.flatpickr({
        //                     enableTime: true,
        //                     noCalendar: true,
        //                     dateFormat: "h:iK",
        //                     minuteIncrement: 1
        //                     });
        //                 }
        //                 if (IotArrival) {
        //                     IotArrival.flatpickr({
        //                     enableTime: true,
        //                     noCalendar: true,
        //                     dateFormat: "h:iK",
        //                     minuteIncrement: 1
        //                     });
        //                 }

        //                 const select_me = jQuery(document.querySelector('[name="TravelProvince"]'));

        //                 let storedData = localStorage.getItem('psgc_data');
        //                 if (storedData) {
        //                     let psgcData = JSON.parse(storedData);
        //                     select_me.empty();
        //                     psgcData.forEach(function(province) {
        //                         select_me.append('<option value="' + province.prov_id + '">' + province.prov_name + '</option>');
        //                     });

        //                     console.log("Province Names:", psgcData.map(province => province.prov_name));
        //                 } else {
        //                     console.log("No data found in localStorage.");
        //                 }

        //                 $("#add-tev").modal("show");
        //                 if (select_me.length) {
        //                     select_me.wrap('<div class="position-relative"></div>')
        //                     select_me.select2({
        //                         placeholder: 'Choose Province',
        //                         dropdownParent: select_me.parent(),
        //                         allowClear: true,
        //                     })
        //                 }
        //             }
        //         },
        //     ],
        //     drawCallback: function (settings) {
        //     },
        // });
   
   });
</script>
{% endblock script %}