{% extends 'layout.html' %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'assets/plugins/custom/prismjs/prismjs.bundle.css' %}" />
<link rel="stylesheet" href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" />
<link rel="stylesheet" href="{% static 'assets/plugins/global/plugins.bundle.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/style.bundle.css' %}" />
<style>
.link-style {
    color: #337ab7; /* Link color */
    text-decoration: none; /* Removes underline */
    cursor: pointer; /* Pointer cursor on hover */
}

.link-style:hover {
    text-decoration: underline; /* Adds underline on hover */
    color: darkblue; /* Changes color slightly on hover */
}
.select2-container {
    z-index: 9999 !important;
}
.select2-container--open {
    z-index: 99999 !important;
}
</style>



<!--begin::Modal - Create App-->
<div class="modal fade" id="onboarding_modal" tabindex="-1" aria-hidden="true">
	<!--begin::Modal dialog-->
	<div class="modal-dialog modal-dialog-centered mw-500px">
		<!--begin::Modal content-->
		<div class="modal-content">
			<!--begin::Modal header-->
			<div class="modal-header">
				<!--begin::Modal title-->
				<h2>Update Staff : <span id="staff-name"></span></h2>
				<!--end::Modal title-->
				<!--begin::Close-->
				<div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">{% getIcon 'cross' 'fs-1' %}</div>
				<!--end::Close-->
			</div>
			<!--end::Modal header-->
			<!--begin::Modal body-->
            <div class="modal-body py-lg-10 px-lg-10">
                <!-- Title -->
                <h5 class="modal-title mb-5 text-center fw-bold">Staff Information</h5>
        
                <!-- Form Inputs -->
                <label for="selectOnboarding" class="form-label fw-bold">Select Onboarding Type</label>
                <select id="selectOnboarding" class="form-select form-select-lg">
                    <option value="" disabled selected>Select Option</option>
                    <option value="neop">NEOP</option>
                    <option value="cos_with_guidelines">COS with GuideLines</option>
                    <option value="internal_staff">Internal Staff</option>
                </select>
                <!-- Save Button -->
                <div class="d-flex justify-content-end mt-5">
                    <a href="#" class="btn btn-sm fw-bold btn-success me-2" onclick="onboarding.save()">
                        <i class="fas fa-check"></i> Save
                    </a>
                </div>
            </div>
			<!--end::Modal body-->
		</div>
		<!--end::Modal content-->
	</div>
	<!--end::Modal dialog-->
</div>


<div class="">
    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">{{title}}</h1>
                <!--end::Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        <a href="#" class="text-muted text-hover-primary">Home</a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-500 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">{{title}}</li>
                    <!--end::Item-->
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->

            <!--end::Actions-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-fluid">
        </div>
    </div>
</div>

<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">

        <div class="row g-5 g-xl-12">
            <!--begin::Col-->
            <div class="col-xl-12">

                <div class="card mb-5 mb-xl-8">
                    <!--begin::Header-->
                    <div class="card-header border-0 pt-5 d-flex justify-content-between align-items-center">
                        <div class="d-flex">
                            <a href="{% url 'rsp:list_endorse_applicants' %}" target="_blank" class="btn btn-sm fw-bold btn-primary me-2>
                                <i class="fas fa-list"></i> List of Transmittal
                            </a>
                            <a href="{% url 'rsp:newly-hired-staff-streamline' %}" target="_blank" class="btn btn-sm fw-bold btn-secondary">
                                <i class="fas fa-stream"></i> List of Streamline Applicants
                            </a>
                        </div>
                    
                        <div class="d-flex">
                            <a href="#" class="btn btn-sm fw-bold btn-success me-2" onclick="onboarding.viewModal()">
                                <i class="fas fa-check"></i> Set Onboarding Type
                            </a>
                            <div class="dropdown">
                                <button class="btn btn-sm me-2 btn-primary dropdown-toggle" type="button" id="actionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Generate Onboarding Forms
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#on_boarding_modals" id="cong-letter" data-id="3" data-title="Congratulatory Letter">
                                            Congratulatory Letter
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#on_boarding_modals" id="not-hired" data-id="2" data-title="Intro Letter">
                                            Intro Letter
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#on_boarding_modals" id="wel-letter" data-id="1" data-title="Welcome Letter">
                                            Welcome Letter
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#on_boarding_modals" id="job-offer" data-id="4" data-title="Certificate of Completion">
                                            Certificate of Completion
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="btn btn-sm fw-bold btn-success me-2" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">
                                <i class="fas fa-file-excel"></i> Generate Transmittal
                            </a>
                            <a href="{% url 'rsp:print_req_checklist' 0 %}" id="generate-template-btn" target="_blank" class="gen_template btn btn-sm fw-bold btn-info">
                                <i class="fas fa-file-excel"></i> Generate Checklist
                            </a>
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body py-3">
                        <!--begin::Table container-->
                        <div class="table-responsive">
                            <!--begin::Table-->
                            <table id="hired-table" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
                                <thead>
                        
                                </thead>
                                <tbody>
                                    <!-- Data will be inserted here dynamically -->
                                </tbody>
                            </table>
                            <!--end::Table-->
                        </div>
                        <!--end::Table container-->
                    </div>
                    <!--begin::Body-->
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" role="dialog" aria-hidden="true" data-bs-backdrop="static" id="on_boarding_modals">
    <div class="modal-dialog modal-dialog-centered mw-900px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-2x"><span class="path1"></span><span class="path2"></span></i>
                </div>
            </div>
            <div class="modal-body">
                <h2>Search Employees</h2>
                <form id="employee-form">
                    <div class="mb-3">
                        <input type="hidden" id="type_id">
                        <label for="employees" class="form-label">Select Employees</label>
                        <select id="employees" class="form-control" name="employees[]" multiple="multiple"></select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
    $('#generate-template-btn').on('click', function(e) {
        var selectedIds = $('.row-select:checked').length;
        if (selectedIds === 0) {
            e.preventDefault(); // Prevent the default action of the button
            Swal.fire("Information", 'No record seleted !', "info");
        }
    });

    $(document).on('change', '.row-select', function () {
        var selectedIds = [];
        $('.row-select:checked').each(function () {
            selectedIds.push($(this).val());
        });

        $(document).on('click', '.gen_template', function (e) {
            if ($(this).hasClass('gen_template')) {
                var href = "{% url 'rsp:print_req_checklist' 0 %}".replace('0', selectedIds.join(','));
                $(this).attr('href', href);
            }
        });
    });


        // Initialize Select2 with AJAX
        $('#employees').select2({
            placeholder: 'Search for employees',
            ajax: {
                url: '{% url "rsp:employee_search_data" %}', // Django URL for searching employees
                dataType: 'json',
                delay: 250, // Delay in milliseconds
                data: function(params) {
                    return {
                        term: params.term // Search term sent to the server
                    };
                },
                processResults: function(data) {
                    console.log(data.results)
                    return {
                       
                        results: data.results.map(item => ({
                            id: item.id,
                            text: item.full_name
                        }))
                    };
                }
            },
            minimumInputLength: 1 // Minimum characters to start the search
        });

        // Handle form submission
        $('#employee-form').on('submit', function(e) {
            e.preventDefault();
            const selectedEmployees = $('#employees').val();
            console.log('Selected employees:', selectedEmployees)

            if (!selectedEmployees || selectedEmployees.length === 0) {
                alert('Please select at least one employee.');
                return;
            }

            // Example logic for generating the URL
            const pk = $('#type_id').val(); // Replace with actual name logic if needed
            const ids = selectedEmployees.join(','); // Assuming you want the first selected employee's ID for the URL

            const url = `/rsp/print/onboarding/form/${pk}/${ids}`;
            console.log('Redirecting to:', url);

            // Redirect to the generated URL
            window.open(url, '_blank');
        });

        $(".dropdown-item").click(function () {
            var modalTitle = $(this).data("title");
            var typeid = $(this).data("id");
            $("#on_boarding_modals .modal-title").text(modalTitle);
            $("#on_boarding_modals #type_id").val(typeid);
        });
        
        var table = $("#hired-table").DataTable({
            processing: true, 
            serverSide: true, 
            ajax: {
                url: "{% url 'rsp:list-newly-hired-staff' %}",
                type: 'GET',
                data: function(d) {
                    d.page = Math.floor(d.start / d.length) + 1;  // Set page number
                    d.length = d.length;  // Number of records per page
                },
            },
            columns: [
                { data: 'app_id' },
                { data: 'app_id' },
                { data: 'full_name', title: 'Name' },
                { data: 'position', title: 'Position' },
                { data: 'former_incumbent', title: 'Former Incumbent' },
                { 
                    data: 'salary', 
                    title: 'Salary',
                    render: function(data, type, row) {
                        return numeral(data).format('0,0.00');
                    }
                },
                { data: 'effectivity_of_contract', title:'Contract Effectivity' },
                { data: 'end_of_contract', title: 'End Contract' },
                { data: 'emp_status', title:'Status' },
                { data: 'nature', title: 'Nature' },
                { data: 'area_of_assignment', title: 'Area of Assignment' },
                { data: 'requirements_ok', title: 'Requirements' },
                { data: 'remarks', title: 'Remarks' },
                { data: 'onboarding_type', title: 'Onboarding Type' }
                 
            ],
            headerCallback: function (thead, data, start, end, display) {
                $(thead).find('th').addClass('text-center'); // Add center class to all headers
            },
            columnDefs: [
            {
                title: '',
                sortable: false,
                targets: 0,
                render: function(data) {
                    return `<input type="checkbox" class="dt-checkboxes row-select form-check-input checkbox-items" value="${data}">`;
                },
            },
            {
                targets: 1,
                title: 'Action',
                orderable: false,
                searchable: false,
                render: function (data) {
                    return `
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="actionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="actionDropdown">
                                <li><a class="dropdown-item" href="/checklist">Requirements Checklist</a></li>
                                <li><a class="dropdown-item" href="/checklist33">Remarks</a></li>
                                <li><a class="dropdown-item" href='/rsp/print/notice-of-appointed-applicants/${data}' target='_blank' title='PRINT'>Print</a></li>
                            </ul>
                        </div>
                    `;
                },
            },
                
  
            ],
            dom: "<'row mb-2'<'col-sm-6 d-flex align-items-center justify-content-start dt-toolbar'l><'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'Bf>>" +
                "<'table-responsive'tr>" +
                "<'row'" +
                "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
                "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
                ">",

            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    className: 'btn btn-secondary', // Basic button styling
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            text: 'Export to Excel',
                            title: 'Newly Hired Staff',
                            exportOptions: {
                                columns: ':visible' // Export only visible columns
                            }
                        },
                        {
                            extend: 'csvHtml5',
                            text: 'Export to CSV',
                            title: 'Newly Hired Staff',
                            exportOptions: {
                                columns: ':visible' // Export only visible columns
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            text: 'Export to PDF',
                            title: 'Newly Hired Staff',
                            exportOptions: {
                                columns: ':visible' // Export only visible columns
                            }
                        }
                    ]
                }
            ],
        });   
 


   var onboarding = {
        selectedIds: [],
        viewModal(){
            // Gather all selected IDs
            $('.dt-checkboxes:checked').each(function() {
                onboarding.selectedIds.push($(this).val());
            });
            if (onboarding.selectedIds.length > 0) {
                $('#onboarding_modal').modal('show');
            }else{
                alert("Please Select Staff");
            }
        },
        save(){
            var type = $('#selectOnboarding').val();
            if(type){
                var data = {
                    type: type,
                    staffIds: onboarding.selectedIds
                }
                $.ajax({
                    url: "{% url 'rsp:PatchNewlyHiredOnboarding' %}",
                    type: "POST",
                    contentType: "application/json",  // Set the correct content type
                    data: JSON.stringify({data: data}),  // Convert the data to a JSON string
                    success: function(data) {
                        
                        $('#onboarding_modal').modal('hide');
                        setTimeout(function(){
                            table.ajax.reload(null, false);
                        },1000)  
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            }else{
                alert("Please Select Onboarding Type");
            }
           


        }
   }
</script>
{% endblock script %}