{% extends 'layout.html' %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'assets/plugins/custom/prismjs/prismjs.bundle.css' %}" />
<link rel="stylesheet" href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" />
<link rel="stylesheet" href="{% static 'assets/plugins/global/plugins.bundle.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/style.bundle.css' %}" />
<style>
.link-style {
    color: #337ab7; /* Link color */
    text-decoration: none; /* Removes underline */
    cursor: pointer; /* Pointer cursor on hover */
}

.link-style:hover {
    text-decoration: underline; /* Adds underline on hover */
    color: darkblue; /* Changes color slightly on hover */
}
.select2-container {
    z-index: 9999 !important;
}
.select2-container--open {
    z-index: 99999 !important;
}
</style>

<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">{{title}}</h1>
                <!--end::Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        <a href="#" class="text-muted text-hover-primary">Home</a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-500 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">{{title}}</li>
                    <!--end::Item-->
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->

            <!--end::Actions-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-fluid">
        </div>
    </div>
</div>

<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">

        <div class="row g-5 g-xl-12">
            <!--begin::Col-->
            <div class="col-xl-12">

                <div class="card mb-5 mb-xl-8">
                    <!--begin::Body-->
                    <div class="card-body py-3">
                        <!--begin::Table container-->
                        <div class="table-responsive">
                            <!--begin::Table-->
                            <table class="table table-bordered" id="tbl_endorsed">
                                <thead>
                                    <tr>
                                        <th>Subject</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Date</th>
                                        <th>Created By</th>
                                        <th>Applied Applicants</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in endorsement.results %}
                                    <tr style="cursor: pointer;" onClick="window.open('/rsp/list/of/endorsed/applicants/data/{{row.id}}', '_blank');">
                                        <td>
                                            <a href="{% url 'rsp:list_endorse_applicants_data' row.id %}" target="_blank">
                                                {{ row.subject }}
                                            </a>
                                        </td>
                                        <td>{{ row.froms }}</td>
                                        <td>{{ row.to }}</td>
                                        <td>{{ row.datetime_created }}</td>
                                        <td>{{ row.created_by }}</td>
                                        <td class="text-center">
                                            <span class="badge badge-success">{{ row.total_applicants }}</span>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6" class="text-center">No applicants found.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!--end::Table-->
                        </div>
                        <!--end::Table container-->
                    </div>
                    <!--begin::Body-->
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript">
    $('#tbl_endorsed').DataTable({
        'order': [[ 3, 'desc' ]],
        dom: "<'row mb-2'<'col-sm-6 d-flex align-items-center justify-content-start dt-toolbar'l><'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'Bf>>" +
            "<'table-responsive'tr>" +
            "<'row'" +
            "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
            "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
            ">",

        buttons: [
            {
                extend: 'collection',
                text: 'Export',
                className: 'btn btn-secondary', // Basic button styling
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: 'Export to Excel',
                        title: 'Newly Hired Staff',
                        exportOptions: {
                            columns: ':visible' // Export only visible columns
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        text: 'Export to CSV',
                        title: 'Newly Hired Staff',
                        exportOptions: {
                            columns: ':visible' // Export only visible columns
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        text: 'Export to PDF',
                        title: 'Newly Hired Staff',
                        exportOptions: {
                            columns: ':visible' // Export only visible columns
                        }
                    }
                ]
            }
        ],
    });
</script>
{% endblock %}